@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Oswald';
}

ul, ol, li{
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    cursor: pointer;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    color: white;
    font-size: 1rem;
    font-weight: 100;
}

.container__list, .container__list ul li {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: white;
}

.ul_paddingTop {
    padding-top: 2rem;
}

h1 {
    font-size: 100px;
    font-weight: 500;
    text-align: center;
    line-height: 90%;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    padding: 0 2rem;
    max-width: 1600px;
    margin: auto;
}

.section {
    padding-top: 2rem;
    background: url("../pict/menu/bg.png"); 
    background-size: 100%;
    min-height: 100vh;
}

.container__menu {
    display: flex;
}

.container__list {
    width: 10%;
}

.container__main {
    width: 80%;
}

.container__cards {
    padding-top: 3rem;
    display: flex;
}

.card {
    display: flex;
    position: relative;
    width: 25%;
}

.card__text {
    width: 45%;
    padding: 1rem 0 0 1rem;
}

.card__text-title {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 90%;
    height: 43px;
}

.card__text-desc{
    padding-top: 1rem;
    font-size: 0.9rem;
    font-weight: 300;
}

.card__text-price {
    position: absolute;
    bottom: 0px;
    padding-bottom: 1rem;
}

.card__text-price p {
    position: relative;
    z-index: 2;
}

.card__text-price p span{
    position: relative;
    z-index: 2;
    font-size: 0.8rem;
}

.card__text-price p::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #E83770;
    border-radius: 50%;
    filter: blur(8px);
    z-index: 1;
}

.container__main_columns-3 .card {
    display: flex;
    position: relative;
    width: 33.33%;
}

.container__main_columns-3 .container__cards_center {
    display: flex;
    justify-content: center;
}

.container__main_columns-3 .card__text {
    width: 57%;
    padding: 1rem 0 0 1rem;
}

.container__main_columns-3 .card__text-price {
    display: flex;
    position: absolute;
    bottom: 0px;
    padding-bottom: 3rem;
} 

.card__text-info {
    position: absolute;
    bottom: 0px;
    padding-bottom: 3rem;
}

.card__text-info_border {
    display: flex;
    border: 1px solid #343434;
    border-radius: 90px;
}

.card__text-info .card__text-info-weight {
    padding: 0.2rem 1rem;
    border: 1px solid #E83770;
    border-radius: 90px;
    background: #E83770;
}

.card__text-info .card__text-info-price {
    padding: 0.2rem 1rem;
    border: 1px solid transparent;
}

#content_15 .card__text-desc {
    height: 180px;
}

#content_16 .card__text-desc {
    height: 155px;
}

#content_17 .card__text-desc {
    height: 180px;
}

#content_18 .card__text-desc {
    height: 160px;
}

#content_18 .card__text-desc_height1 {
    height: 200px;
}

#content_18 .card__text-desc_height2 {
    height: 180px;
}

#content_19 .card__text-desc {
    height: 200px;
}

#content_19 .card__text-title {
    height: 20px;
}

#content_19 img {
    padding-top: 1.5rem;
}

